---
---

/*
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
*/

$header-heading-color: #669900;
$header-bg-color: #7a7a52;//prevents a giant green blob from popping up on load
$section-headings-color: #b366ff;

@import "{{ site.theme }}";

.page-header {
   background-image: url("{{ mysite.url }}/images/watermellonBunny.png");
   background-position: center;
   background-size: contain;
}

.btn {
   color: rgba(240, 0, 0, 0.7);
   background-color: rgba(240, 0, 0, 0.08);
   border-color: rgba(240, 0, 0, 0.2);

   &:hover {
      color: rgba(240, 0, 0, 0.8);
      text-decoration: none;
      background-color: rgba(240, 0, 0, 0.2);
      border-color: rgba(240, 0, 0, 0.3);
   }
}
